<form class="form d-flex justify-content-center mt-5" id="form-1">
    <div class="row col-sm-8 d-flex justify-content-center">
     <p class="desc text-center">Hãy liên hệ với chúng tôi những khó khăn <b>Traveloka</b> luôn sẵn sàng giúp đỡ bạn</p>
     <div class="form-group">
       <label for="text" class="form-label">Họ tên</label>
       <input
         type="text"
         placeholder="Nhập họ và tên"
         class="form-control"
         ng-model = "user.ten"
       />
       <small ng-show="kiemTra.ten" class="text-danger"
       ><i>Tên không được để trống.</i></small
     >     </div>
     <div class="form-group">
       <label for="email" class="form-label">Email</label>
       <input
         type="text"
         placeholder="VD: kien@gmail.com"
         class="form-control"
         ng-model = "user.email"
       />
       <small ng-show="kiemTra.email" class="text-danger">
        {{ kiemTra.emailMessage }}
      </small>     </div>
     <div class="form-group">
       <label for="sodienthoai" class="form-label">Số điện thoại</label>
       <input
         type="text"
         placeholder="VD:0393524703"
         class="form-control"
         ng-model = "user.sodienthoai"
       />
       <small ng-show="kiemTra.sodienthoai" class="text-danger">
        {{ kiemTra.sodienthoaiMessage }}
      </small>     </div>
     <div class="form-group">
       <label for="password_confirmation" class="form-label"
         >Ghi chú</label
       >
       <input
         placeholder="Nhập thông tin bạn cần hỗ trợ"
         type="text"
         class="form-control"
         ng-model = "user.ghichu"
       />
       <small ng-show="kiemTra.ghichu" class="text-danger"
       ><i>Ghi chú không được để trống.</i></small
     >
       <div class="form-group">
         <button type="submit" ng-click="editUser()" class="form-submit text-white">Lưu thông tin đã sửa</button>
         <a href="#!/list-user"><button class="form-submit text-white">Trở về</button></a>
     </div>
     </div>
    </div>
     </form>