<div>
  <h1>. </h1>
  <h2 class="text-center">{{title}}</h2>

  <a href="#!add-user"><button class=" my-4  mx-5 btn btn-success">Thêm mới</button></a>
  <div class="d-flex justify-content-center col-sm-12 mx-5">
    <table class="table">
      <thead style="background-color: red;">
        <tr>
          <th class="text-center" scope="col">STT</th>
          <th class="text-center" scope="col">Họ và tên</th>
          <th class="text-center" scope="col">Email</th>
          <th class="text-center" scope="col">Số điện thoại</th>
          <th class="text-center" scope="col">Ghi chú</th>
          <th class="text-center" scope="col">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat = "user in listuser">
          <td  class="text-center">{{$index +1}}</td>
          <td  class="text-center">{{ user.ten }}</td>
          <td class="text-center">{{ user.email }}</td>
          <td class="text-center">{{ user.sodienthoai }}</td>
          <td class="text-center">{{ user.ghichu }}</td>
          <td>
            <a href="#!/list/detail-user/{{user.id}}"><button class="btn btn-info">Chi tiết</button></a>
            <a href="#!/list/edit-user/{{user.id}}"><button class="btn btn-warning">Chỉnh sửa</button></a>
            <a href=""><button ng-click="deleteUser(user.id)" class="btn btn-danger">Xóa</button></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
